<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photo.user.userphoto">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="activities.PhotoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.ChangeImageActivity"
            android:label="@string/title_activity_change_image"
            android:parentActivityName="activities.PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.PhotoActivity" />
        </activity>

        <service
            android:name=".Services.LoadImageIntentService"
            android:exported="false" />

        <activity
            android:name="activities.ChooseColorActivity"
            android:label="@string/title_activity_choose_color"
            android:parentActivityName="activities.PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.PhotoActivity" />
        </activity>
    </application>

</manifest>